body {
  background-color: rgb(207, 232, 255);
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  background-color: white;
  min-width: 500px;
  width: 500px;
  margin: 32px auto 0px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}
