@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.Cart {
  @include layout;

  .cartTop {
    h2 {
      @include title-h2;
      margin-top: -20px;
    }
  }

  .cartBottom {
    display: flex;
    justify-content: space-between;

    .tableWrap {
      width: 75%;

      table {
        width: 100%;
        height: auto;
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;
        font-size: 15px;

        thead {
          display: block;
          width: 100%;
          height: 40px;
          text-align: center;
          font-weight: 700;
          border-top: 1px solid var(--color-tertiary-light);
          border-bottom: 1px solid var(--color-tertiary-light);

          tr {
            display: table;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-secondary);
          }
        }

        .num {
          width: 5%;
        }

        .product {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            width: 50px;
            height: 70px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 50px;
              padding: 10px;
            }
          }
        }

        .title {
          width: 40%;
        }

        .count {
          width: 20%;
        }

        .price {
          width: 10%;
        }

        .delete {
          width: 10%;
        }

        tbody {
          display: block;
          width: 100%;
          height: auto;

          tr {
            display: table;
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid var(--color-tertiary-light);
          }
        }
      }
    }

    .payment {
      width: 22%;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        font-size: 15px;

        span {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4px;
        }

        span:nth-of-type(3) {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid var(--color-tertiary-light);
        }
      }

      .modalBtnWrap {
        margin-bottom: 0;
      }

      .cartBtn,
      .shoppingBtn {
        @include btn-column-common;
        width: 100% !important;
      }

      .cartBtn {
        @include btn-column-top;
      }
    }
  }
}

@media (max-width: 1599px) {
  .Cart {
    width: 90% !important;

    .cartBottom {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100% !important;

      .tableWrap {
        width: 100% !important;
        margin-bottom: 40px;

        table {
          width: 100% !important;
          height: auto;

          tbody {
            display: block;
            width: 100%;
            height: auto;

            tr {
              display: table;
              width: 100%;
              height: 90px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom: 1px solid var(--color-tertiary-light);
            }
          }
        }
      }

      .payment {
        width: 300px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        div {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          font-size: 15px;

          span {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
          }

          span:nth-of-type(3) {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid var(--color-tertiary-light);
          }
        }

        .cartBtn,
        .shoppingBtn {
          @include btn-column-common;
        }

        .cartBtn {
          @include btn-column-top;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Cart {
    width: 90% !important;

    .cartBottom {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .tableWrap {
        overflow-x: auto;

        table {
          width: 100% !important;
          min-width: 1000px !important;
          height: auto;
          overflow-x: scroll;

          tbody {
            display: block;
            width: 100%;
            height: auto;
            border-top: 1px solid var(--color-tertiary-light);
          }
        }
      }

      .payment {
        width: 100% !important;
        margin: auto;

        .btnWrap {
          width: 100% !important;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          .cartBtn,
          .shoppingBtn {
            @include btn-column-common;
            width: 250px !important;
          }

          .cartBtn {
            @include btn-column-top;
            margin-right: 0 !important;
          }

          .shoppingBtn {
            margin-right: 0;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  .modalBox {
    width: auto !important;
    min-width: 330px !important;
  }
}
