.header {
  padding: 16px 32px 0;
  background: rgb(246, 248, 250);
  box-shadow: inset 0 -1px 0 hsla(210, 18%, 87%, 1);
}

.buttonContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.button {
  font-size: 14px;
  background: transparent;
  color: black;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  font-size: 12px;
}
