* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header {
  width: 100%;
  height: 116px;
  border-bottom: 1px solid var(--color-gray-100);
}

.header__inner {
  width: 1020px;
  height: 116px;
  margin: 0 auto;
}

.button--category {
  width: 110px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-600);
  border: 0;
}

.button--category span {
  margin-top: 12px;
  font-size: 12px;
  color: var(--color-white);
}

.button--category:focus {
  outline: none;
  box-shadow: 1px 1px 2px var(--color-opacity-20);
  border: 1px solid var(--color-red-500);
  border-radius: 5px;
}

/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.ml-4 {
  margin-left: 4px;
}

.mt-1 {
  margin-top: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navigation__list, .depth2, .depth3 {
  width: 180px;
  height: 500px;
  padding: 10px 0px;
  box-shadow: 0 4px 4px var(--color-opacity-20);
  background-color: var(--color-white);
  display: none;
}

.navigation__list {
  position: absolute;
  top: 0;
  left: 0;
}

.depth2 {
  position: absolute;
  top: 0;
  left: 180px;
}

.depth3 {
  position: absolute;
  top: 0;
  left: 180px;
}

.depth2::before,
.depth3::before {
  content: '';
  width: 1px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray-200);
  z-index: -1;
}

.depth1-list,
.depth2-list,
.depth3-list {
  width: 180px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-black);
}

.depth1-list > a,
.depth2-list > a,
.depth3-list > a {
  display: block;
  width: 180px;
  height: 30px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

/* is--active */
.navigation.is--active .navigation__list, 
.depth2.is--active,
.depth3.is--active {
  display: block;
}

/* hover & focus */
.depth1-list:hover > a,
.depth2-list:hover > a,
.depth3-list:hover > a,
.depth1-list > a:focus,
.depth2-list > a:focus,
.depth3-list > a:focus,
.depth1-list:focus-within > a,
.depth2-list:focus-within > a  {
  font-weight: bold;
  color: var(--color-blue-600);
}

.depth1-list:hover,
.depth2-list:hover,
.depth1-list > a:focus,
.depth2-list > a:focus,
.depth1-list:focus-within,
.depth2-list:focus-within {
  background: url("../../assets/icon/more-right-active.svg") no-repeat;
  background-position: center right 10px;
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  min-height: 52rem;
}

/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
footer {
  margin: 0 auto;
  width: 100%;
  height: 349px;
}

/* footer-top */
.footer-top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-200);
}

.footer-nav {
  width: 1006px;
  height: 40px;
}

.footer-nav ul {
  width: 1006px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.footer-nav ul li,
.divider {
  font-size: 12px;
  color: var(--color-gray-800);
}

.footer-nav ul li {
  padding: 6px 12px;
}

.footer-nav ul li:nth-last-of-type(2n) {
  padding: 0;
}

.txt-bold {
  font-weight: bold;
}

/* footer-center */
.footer-center {
  width: 1200px;
  height: 207px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  background: url("../../assets/logo/logo-mono.svg") no-repeat;
  width: 176px;
  height: 143px;
}

address {
  width: 260px;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

address p {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  letter-spacing: -0.5px;
}

address p:nth-of-type(5) {
  margin-bottom: 0;
}

.footer-contact {
  width: 293px;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact span {
  display: block;
  color: var(--color-gray-800);
}

.contact-title {
  display: block;
  letter-spacing: -0.5px;
}

.contact-title strong {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.contact-title strong::after {
  content: '';
  display: inline-block;
  height: 12px;
  margin: 0 13px;
  border-right: 1px solid var(--color-gray-800);
}

.tel, .email {
  display: block;
  width: fit-content;
  font-style: normal;
  color: var(--color-gray-800);
}

.tel {
  font-weight: bold;
  font-size: 48px;
}

.footer-info {
  width: 282px;
  height: 143px;
}

.footer-info strong {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--color-gray-800);
}

.footer-info p {
  line-height: 20px;
  color: var(--color-gray-800);
}

/* footer-bottom */
.footer-bottom {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-900);
}

.footer-bottom > div {
  width: 1020px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright {
  width: 848px;
  height: 70px;
}

.copyright p {
  font-size: 12px;
  color: var(--color-gray-200);
  letter-spacing: -0.5px;
  line-height: 14px;
  font-weight: lighter;
}

.sns-icons {
  width: 122px;
  height: 34px;
  display: flex;
  justify-content: space-between;
}

.sns-icons a {
  display: block;
}

.insta {
  background-image: linear-gradient(174.12deg, #285AEB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
}