// layout (except categoryLayout)
@mixin layout {
  width: 70%;
  min-height: calc(100vh - 260px);
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 80px 0;
  @include txt-normal;
}

// category
@mixin category-layout {
  padding: 20px 0;
}

@mixin category-header-wrap {
  width: 93%;
  max-width: 1140px;
  margin: 40px auto 0;
}

@mixin category-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@mixin category-header-media {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-end !important;
  margin-bottom: 30px;
}

@mixin category-header-title-media {
  margin-bottom: 20px !important;
  text-align: left;
  align-self: center;
}

// login & signup
@mixin login-layout {
  @include layout;
  justify-content: center;
  width: 300px;
}

@mixin login-formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

@mixin login-formgroup-label {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
}

@mixin login-formgroup-input {
  width: 300px;
  padding: 9px;
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-tertiary);
  border-radius: 2px;
}

@mixin login-formgroup-alert {
  height: 15px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-warning);
  visibility: hidden;
}

@mixin login-formgroup-alert-visible {
  visibility: visible;
}

// button
@mixin btn-column-common {
  width: 300px;
  height: 40px;
  margin-right: 15px;
  border-radius: 2px;
  font-size: 12px;
  border-color: var(--color-secondary);
}

@mixin btn-column-top {
  width: 300px;
  margin-bottom: 10px;
  background-color: var(--color-secondary) !important;
  color: var(--color-primary);
  border-color: var(--color-secondary);
}

// txt
@mixin title-h2 {
  margin-bottom: 40px;
  @include txt-point;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

@mixin txt-point {
  font-family: "Raleway", sans-serif;
}

@mixin txt-normal {
  font-family: "Nunito Sans", sans-serif;
}
