@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.MainProduct {
  .sectionWrap {
    margin: 70px auto;

    h2 {
      @include title-h2;
    }

    .sectionGrid {
      display: flex;
      justify-content: center;
    }
  }
}
