@import "../../../scss/abstracts/variables";

.Slider {
  width: 100%;
  height: 600px;

  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .mySwiperSlide:nth-of-type(1) {
    background: url("../../../assets/slider/bg1.jpg") center/cover no-repeat;
  }
  .mySwiperSlide:nth-of-type(2) {
    background: url("../../../assets/slider/bg2.jpg") center/cover no-repeat;
  }
  .mySwiperSlide:nth-of-type(3) {
    background: url("../../../assets/slider/bg5.jpg") center/cover no-repeat;
    background-position: 50% 15%;
  }
  .mySwiperSlide:nth-of-type(4) {
    background: url("../../../assets/slider/bg4.jpg") top/cover no-repeat;
    background-position: 50% 5%;
  }

  :global(.swiper-pagination-bullet) {
    background: var(--color-primary);
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-badge);
  }
}

@media (max-width: 1199px) {
  .Slider {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 1023px) {
  .Slider {
    width: 100%;
    height: 350px;
  }
}
