/* 오늘의 쇼핑 제안 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0px;
}

/* ---------- header CSS start ---------- */
header {
  width: 1020px;
  height: 40px;
  margin: 0 auto 48px;
}

header > a {
  width: 100%;
  height: 100%;
}

.logo {
  width: 176px;
  height: 40px;
}

.logo img {
  width: 176px;
  height: 40px;
}

/* ---------- header CSS end ---------- */

/* ---------- section CSS start ---------- */
section {
  width: 1020px;
  height: 354px;
  margin: 0 auto;
}

/* title */
.title-wrap {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.title {
  color: var(--color-black);
  font-size: 24px;
  font-weight: normal;
}

.title-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../assets/icon/shopping.svg") no-repeat;
}

/* product */
.product-wrap {
  width: 1020px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* 상품 카드 */
.product-card {
  position: relative;
}

/* 상품 리스트 */
.product-list {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list > a {
  display: block;
}

.product-list > img {
  width: 160px;
  height: 160px;
}

/* 할인가 */
.discount {
  width: 53px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: var(--color-red-500);
  color: var(--color-white);
  border-bottom-right-radius: 5px;
  text-align: center;
  padding-top: 5px;
}

/* 시각적으로 숨겨진 텍스트를 화면 밖으로 이동시켜줌 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 상품 소개 */
.product-info {
  width: 172px;
  height: 66px;
  margin-top: 12px;
  position: relative;
}

.product-info > p {
  font-size: 14px;
  color: var(--color-black);
  margin-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 172px;
}

/* 무료배송 */
.free {
  font-size: 14px;
  color: var(--color-gray-700);
  display: block;
  margin-bottom: 4px;
}

/* 로켓배송 */
.rocket {
  width: 55px;
  height: 16px;
  display: block;
  margin-bottom: 4px;
}

.rocket img {
  width: 55px;
  height: 16px;
}

/* 별점 + 리뷰 갯수 - info-bottom */
.info-bottom {
  display: flex;
  align-items: center;
}

/* 별점 */
.star {
  width: 68px;
  height: 12px;
  display: block;
  background: url("../../assets/sprites/rating-stars.png") no-repeat;
}

.star.score4-5 {
  background-position-y: -126px;
}

.star.score4 {
  background-position-y: -112px;
}

.star.score5 {
  background-position-y: -140px;
}

/* 리뷰 갯수 */
.review {
  font-size: 14px;
  color: var(--color-gray-700);
  margin-left: 4px;
}

/* ---------- section CSS end ---------- */